@model AdamPersonalCapstone.Models.Device

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    <a class="badge" style="color: deepskyblue" @Html.ActionLink("Edit", "Edit", new { id = Model.DevicesId })></a>
    <a class="badge" style="color: deepskyblue" @Html.ActionLink("Back to List", "Index")></a>
</p>
