@model IEnumerable<AdamPersonalCapstone.Models.Device>

@{
    ViewBag.Title = "Index";
}

<h1 style="color:deepskyblue; text-align:center">Build Your Device Profile</h1>

<div class="jumbotron">
    <div class="container-fluid">
        <table class="table" style="color:deepskyblue">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <div><<a class="badge" style="color: deepskyblue" @Html.ActionLink("Save To Profile", "AddDevice", "CustomerDevicesJTables", new { id = item.DevicesId }, null)></a></div>
                    </td>
                </tr>
            }

        </table>
        </div>
</div>