@model IEnumerable<AdamPersonalCapstone.Models.CustomerDevicesJTable>

@{
    ViewBag.Title = "Index";
}

<head>
    <style>
        .img-container {
            text-align: center;
            display: block;
        }
    </style>
</head>
<body>
    <div class="jumbotron" style="text-align:center">
        <h1 style="color:deepskyblue; text-align:center">Owned Devices</h1>
        @*<a class="badge" style="color: deepskyblue" @Html.ActionLink("Add New Device", "Index", "Devices")</a>*@
        <span class="img-container">
            <img src="~/Content/Image/nhn3.png" alt="Neighborhood Nerd Logo">
        </span>
        <a class="badge" style="color: deepskyblue" @Html.ActionLink("Add New Device", "Index", "Devices")</a>
        <br />
        <div class="container-fluid">
            <table class="table" style="color:deepskyblue">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Device.Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Device.Name)
                    </th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Device.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Device.Name)
                        </td>
                        <td>
                            <<a class="badge" style="color: deepskyblue" @Html.ActionLink("Delete", "Delete", new { id = item.CustomerDevicesJTableId })></a>
                        </td>
                        <td>
                            <<a class="badge" style="color: deepskyblue" @Html.ActionLink("Create Ticket", "Create", "Tickets")></a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    </body>