@model IEnumerable<AdamPersonalCapstone.Models.Customer>

@{
    ViewBag.Title = "OwnedDevices";
}

<h2>OwnedDevices</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnedDevices)
        </th>
            <td>

            </td>
        <th>
            @Html.DisplayNameFor(model => model.PersonalDevices)
        </th>
        <th></th>
    </tr>


    <tr>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId }) |*@
            @*@Html.ActionLink("Details", "Details", new { id = item.CustomerId })*@

        </td>
    </tr>


</table>
