@model IEnumerable<AdamPersonalCapstone.Models.Ticket>

@{
    ViewBag.Title = "Claim";
}

<h1 style="color:deepskyblue; text-align:center">List of Claimed Tickets</h1>

<head>
    <style>
        .img-container {
            text-align: center;
            display: block;
        }
    </style>
</head>
<body>
<div class="jumbotron" style="text-align:center">
    @*<span class="img-container">
        <img src="~/Content/Image/nhn3.png" alt="Neighborhood Nerd Logo">
    </span>*@
    <div class="container-fluid">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeviceId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MessageSent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isClaimed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isCompleted)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeviceId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MessageSent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => item.isClaimed)
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => item.isCompleted)
                    </td>
                    <td>
                        <a class="badge" style="color: deepskyblue" @Html.ActionLink("Edit", "Edit", new { id = item.TicketId })></a>
                        <a class="badge" style="color: deepskyblue" @Html.ActionLink("Details", "Details", new { id = item.TicketId })></a>
                        <a class="badge" style="color: deepskyblue" @Html.ActionLink("Delete", "Delete", new { id = item.TicketId })></a>
                        <a class="badge" style="color: deepskyblue" @Html.ActionLink("Complete", "Complete", new { id = item.TicketId })></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div></body>